<div class="modal">
    <div class="modal-body">
        <a href="#" class="btn btn-close">
          
        </a>
        <h2>Lorem, ipsum dolor.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci deserunt inventore voluptas, autem officiis explicabo. Quibusdam exercitationem, architecto aliquid, dolores laboriosam sequi ex neque explicabo itaque illum, eaque facere at. Repellat nostrum asperiores ab deserunt assumenda mollitia eius reiciendis, incidunt, quod cupiditate dolorum error impedit totam consectetur atque earum facere necessitatibus? Deleniti vitae id nulla consequuntur dolorum, autem sapiente consectetur consequatur a itaque, at architecto repellendus totam perferendis in ratione inventore ipsum ut cumque laudantium! Maxime dolore quasi velit tempora quia repellendus ullam, et at, officia illo, hic vitae architecto totam. Voluptas commodi tempora magni magnam, veritatis praesentium eum sunt. ipsum dolor sit amet consectetur adipisicing elit. Laudantium, quae!</p>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
        <div class="btn-row">
            <button class="btn btn-secondary">Close</button>
            <button class="btn btn-primery">Ok</button>
        </div>

    </div>
</div>